:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #5a636b;
}
.back{
    background: url(../Components/image/1005x558_2021090718243453b0690203.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}
  .back__episodes {
     background: url(../Components/image/8c2f36e88e65de30b8712b772cdf134a.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
.back__location{
    background: url(../Components/image/1-bigTopImage_2021_09_06_11_39_12.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

